*,
*::before,
*::after {
  box-sizing: border-box;
}
#wpadminbar {
  #wp-admin-bar-ultimate-security-for-woocommerce-switch-to-country {
    & > .ab-item {
      display: flex;
      align-items: center;
      .ab-icon {
        &::before {
          width: 20px;
          height: 20px;
          content: url("data:image/svg+xml,%0A%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_7893_84325)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7335 14.2879C12.0597 14.1098 12.4431 14.0679 12.8001 14.1713C12.8321 14.1898 12.8675 14.2015 12.9042 14.2056C12.9409 14.2098 12.978 14.2062 13.0133 14.1953C13.0485 14.1843 13.0811 14.1661 13.109 14.1419C13.1368 14.1177 13.1594 14.088 13.1751 14.0546C13.1925 14.0224 13.2032 13.9871 13.2067 13.9506C13.2102 13.9142 13.2064 13.8775 13.1956 13.8426C13.1847 13.8077 13.167 13.7753 13.1434 13.7473C13.1199 13.7193 13.091 13.6963 13.0585 13.6796C12.8229 13.5273 12.5573 13.4277 12.2798 13.3874C12.0022 13.3471 11.7192 13.3672 11.4501 13.4463C11.2223 13.501 11.0053 13.594 10.8085 13.7213C10.6158 13.846 10.4418 13.9975 10.2918 14.1713C9.94273 14.581 9.73523 15.0925 9.70014 15.6296C9.69036 15.6935 9.70573 15.7587 9.74302 15.8116C9.78032 15.8644 9.83663 15.9007 9.90014 15.9129C9.93193 15.9189 9.96459 15.9184 9.99619 15.9115C10.0278 15.9047 10.0577 15.8915 10.0841 15.8728C10.1105 15.8542 10.1329 15.8304 10.15 15.803C10.1671 15.7755 10.1785 15.7449 10.1835 15.7129C10.3406 15.3466 10.5976 15.0318 10.9251 14.8046L11.3168 14.5129C11.4486 14.4255 11.5881 14.3502 11.7335 14.2879Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6685 12.3091C13.687 12.2771 13.6987 12.2417 13.7029 12.205C13.707 12.1683 13.7035 12.1312 13.6925 12.0959C13.6815 12.0607 13.6634 12.0281 13.6391 12.0002C13.6149 11.9724 13.5852 11.9498 13.5518 11.9341C13.1793 11.7118 12.7639 11.571 12.333 11.5207C11.9022 11.4704 11.4655 11.5119 11.0518 11.6424C10.6957 11.7466 10.3562 11.9009 10.0435 12.1007C9.73826 12.2993 9.45841 12.5344 9.21015 12.8007C8.63261 13.4275 8.26802 14.2209 8.16848 15.0674C8.16243 15.0986 8.1626 15.1307 8.16896 15.1618C8.17532 15.1929 8.18776 15.2225 8.20556 15.2488C8.22336 15.2751 8.24618 15.2977 8.27271 15.3152C8.29923 15.3326 8.32895 15.3447 8.36015 15.3507C8.42416 15.3631 8.49048 15.35 8.54496 15.3142C8.59945 15.2784 8.63779 15.2227 8.65181 15.1591C8.87778 14.4829 9.29101 13.8847 9.84348 13.4341C10.0687 13.2397 10.3053 13.0589 10.5518 12.8924C10.7992 12.7291 11.0615 12.5896 11.3351 12.4757C11.6471 12.3301 11.9858 12.2505 12.3299 12.2419C12.6741 12.2333 13.0163 12.2959 13.3351 12.4257C13.3957 12.4469 13.4617 12.4469 13.5222 12.4257C13.5828 12.4045 13.6343 12.3634 13.6685 12.3091Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.9028 17.0352C12.0698 17.0701 12.2422 17.0711 12.4097 17.0382C12.5772 17.0053 12.7363 16.9391 12.8778 16.8435C13.0245 16.7391 13.1432 16.6 13.2232 16.4386C13.3031 16.2772 13.3419 16.0985 13.3361 15.9185C13.3284 15.7529 13.2822 15.5913 13.2012 15.4467C13.1202 15.302 13.0066 15.1782 12.8694 15.0852C12.6981 14.9872 12.5077 14.9275 12.3111 14.9102C12.0566 14.9204 11.8107 15.0048 11.6034 15.1528C11.3962 15.3008 11.2367 15.5061 11.1444 15.7435C11.0612 15.9637 11.0612 16.2066 11.1444 16.4268C11.2136 16.5811 11.3184 16.7166 11.4503 16.8224C11.5821 16.9282 11.7372 17.0011 11.9028 17.0352ZM12.2111 15.5102C12.3041 15.5418 12.3894 15.593 12.4611 15.6602C12.5111 15.7018 12.4611 15.8102 12.4611 15.9102C12.4572 15.9423 12.4452 15.9729 12.4262 15.9991C12.4073 16.0253 12.382 16.0463 12.3528 16.0602C12.2728 16.1167 12.1754 16.1433 12.0778 16.1352C11.9861 16.1352 11.8861 16.1352 11.8278 16.0352C11.8022 16.0009 11.7839 15.9618 11.7739 15.9203C11.7639 15.8788 11.7623 15.8356 11.7694 15.7935C11.8528 15.5185 11.9778 15.4518 12.2111 15.5102Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.1839 12.6181C17.0256 12.2431 16.8672 11.8764 16.6839 11.5181C16.4172 10.9764 16.1256 10.4514 15.8506 9.9264C15.6922 9.66807 15.5422 9.41807 15.3756 9.16807C14.9422 8.5264 14.4922 7.90974 14.0422 7.28474C13.9808 6.84971 13.7754 6.44779 13.4589 6.14307C13.0881 5.80717 12.6223 5.59461 12.1256 5.53474C11.683 5.50028 11.2395 5.58669 10.8422 5.78474C10.3199 6.04454 9.816 6.33967 9.3339 6.66807L6.5839 8.33474C6.54915 8.34612 6.51732 8.36499 6.49066 8.39001C6.464 8.41503 6.44315 8.4456 6.42958 8.47955C6.41601 8.51351 6.41006 8.55003 6.41214 8.58653C6.41422 8.62304 6.42428 8.65864 6.44162 8.69083C6.45895 8.72303 6.48314 8.75103 6.51247 8.77286C6.5418 8.79469 6.57557 8.80982 6.61138 8.81719C6.6472 8.82455 6.68419 8.82397 6.71976 8.81548C6.75533 8.807 6.7886 8.79081 6.81723 8.76807L9.6589 7.2514C10.1238 6.96496 10.6052 6.70618 11.1006 6.4764C11.3826 6.34977 11.6933 6.30086 12.0006 6.33474C12.3161 6.39055 12.607 6.5418 12.8339 6.76807C12.94 6.86139 13.0242 6.97702 13.0804 7.10668C13.1366 7.23635 13.1634 7.37683 13.1589 7.51807C13.1479 7.69642 13.0904 7.86878 12.9922 8.01807C12.8878 8.19142 12.7587 8.34863 12.6089 8.48474C12.282 8.77542 11.9307 9.0375 11.5589 9.26807C10.9756 9.64307 10.3506 9.9764 9.77556 10.3181L6.91723 11.9097C6.56723 12.0931 6.21723 12.2931 5.8589 12.4681C5.63285 12.5796 5.39888 12.6743 5.1589 12.7514C4.97191 12.8047 4.77446 12.8097 4.58501 12.766C4.39555 12.7223 4.22028 12.6313 4.07556 12.5014C3.91351 12.375 3.78264 12.2132 3.69306 12.0282C3.60348 11.8433 3.55758 11.6402 3.5589 11.4347C3.56653 11.3275 3.59483 11.2228 3.64223 11.1264C3.69329 11.0101 3.75465 10.8985 3.82556 10.7931C3.84712 10.7634 3.86232 10.7297 3.87024 10.6939C3.87816 10.6581 3.87861 10.621 3.87157 10.5851C3.86453 10.5491 3.85016 10.515 3.82934 10.4848C3.80852 10.4546 3.7817 10.4291 3.75056 10.4097C3.72052 10.3893 3.68673 10.3751 3.65115 10.3678C3.61557 10.3605 3.57891 10.3604 3.54327 10.3674C3.50763 10.3743 3.47372 10.3883 3.44351 10.4084C3.41329 10.4286 3.38737 10.4545 3.36723 10.4847C3.25513 10.6378 3.16012 10.8027 3.0839 10.9764C3.02457 11.1111 2.98797 11.2547 2.97556 11.4014C2.95684 11.7365 3.02881 12.0704 3.1839 12.3681L4.16723 14.2431L4.9339 15.6764L5.65056 16.7681L6.21723 17.6014C6.73551 18.3603 7.36152 19.0396 8.07556 19.6181C8.66723 20.0181 9.20056 20.4514 12.2922 19.0764C12.6422 18.9208 12.9839 18.7458 13.3172 18.5514C13.6589 18.3597 13.9756 18.1514 14.2922 17.9347C15.0269 17.4172 15.7335 16.8608 16.4089 16.2681C16.4379 16.2462 16.4623 16.2188 16.4807 16.1875C16.4991 16.1562 16.5112 16.1215 16.5162 16.0855C16.5213 16.0496 16.5192 16.0129 16.51 15.9778C16.5009 15.9426 16.4849 15.9096 16.4631 15.8806C16.4412 15.8516 16.4138 15.8272 16.3825 15.8087C16.3512 15.7903 16.3165 15.7783 16.2805 15.7732C16.2445 15.7682 16.2079 15.7703 16.1728 15.7794C16.1376 15.7886 16.1046 15.8045 16.0756 15.8264C15.6589 16.1014 15.2422 16.3597 14.8089 16.6181C14.3756 16.8764 13.9339 17.1014 13.5006 17.3514L12.2089 18.0764C10.0756 19.3181 9.46723 19.8097 8.50056 19.0347C7.89482 18.4442 7.37577 17.7709 6.9589 17.0347L6.42556 16.2431L5.66723 15.2014L4.75056 13.8681L4.45056 13.4264C4.7475 13.5105 5.06196 13.5105 5.3589 13.4264C5.64213 13.3488 5.92042 13.2542 6.19223 13.1431L7.29223 12.6181C7.89223 12.3347 8.4839 12.0431 9.07556 11.7431C9.46723 11.5347 9.8589 11.3264 10.2506 11.1014C10.8422 10.7597 11.4756 10.4347 12.0756 10.0514C12.4884 9.79382 12.8762 9.49808 13.2339 9.16807C13.4526 8.97119 13.6383 8.74048 13.7839 8.48474C13.7839 8.4264 13.8339 8.36807 13.8589 8.31807L16.4589 12.9681C16.7115 13.3997 16.8917 13.8698 16.9922 14.3597C17.0289 14.4995 17.0374 14.6451 17.0174 14.7881C16.9974 14.9311 16.9492 15.0688 16.8756 15.1931C16.8313 15.252 16.8118 15.3259 16.8211 15.399C16.8304 15.4722 16.8679 15.5388 16.9256 15.5847C16.9543 15.6077 16.9874 15.6247 17.0229 15.6346C17.0584 15.6446 17.0954 15.6473 17.132 15.6426C17.1685 15.638 17.2037 15.626 17.2355 15.6075C17.2674 15.5889 17.2951 15.5642 17.3172 15.5347C17.5776 15.1795 17.6937 14.7388 17.6422 14.3014C17.5773 13.72 17.4227 13.1522 17.1839 12.6181Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5589 3.00141C11.5589 3.00141 11.7756 3.23475 12.3922 1.89308C12.4789 1.70719 12.5514 1.51497 12.6089 1.31808C12.9506 0.276412 13.0089 0.176412 12.8089 0.0430788C12.6089 -0.0902545 12.5006 -0.165254 11.7839 0.926412C11.7085 1.04809 11.6443 1.1764 11.5922 1.30975C11.5408 1.44195 11.5017 1.57865 11.4756 1.71808C11.2089 3.02641 11.5339 2.99308 11.5589 3.00141Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7266 3.59983C12.7932 3.72483 12.7266 3.8165 14.0682 3.44983L14.5266 3.33316C14.6766 3.28316 14.8182 3.2165 14.9766 3.17483C15.4682 3.05816 15.7349 3.17483 15.7599 2.85816C15.8266 2.35816 14.4849 2.42483 14.4599 2.42483C14.3102 2.43716 14.1622 2.46509 14.0182 2.50816C13.8759 2.55068 13.7389 2.6094 13.6099 2.68316C13.6099 2.68316 12.5516 3.33316 12.7266 3.59983Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1511 5.11887C15.0635 5.04543 14.9685 4.9812 14.8677 4.9272C13.8427 4.41887 13.7844 4.71054 13.7761 4.7272C13.7677 4.74387 13.5094 4.91887 14.4261 5.73554C14.5476 5.84194 14.6787 5.93679 14.8177 6.01887C15.6511 6.56054 15.7177 6.56054 15.8677 6.4272C16.0177 6.29387 16.1427 6.19387 15.4094 5.36054C15.3337 5.2695 15.247 5.18831 15.1511 5.11887Z' fill='%23BBBDBE'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.10137 11.8923C5.34687 11.8899 5.5919 11.8704 5.8347 11.834C5.93526 11.8076 6.03296 11.7713 6.12637 11.7256C6.22013 11.6829 6.30716 11.6268 6.3847 11.559C6.46804 11.4923 7.21804 10.884 7.00137 10.6506C6.33239 9.75373 5.77287 8.78017 5.3347 7.75062C5.05735 7.10317 4.91827 6.40493 4.92637 5.70062C4.92838 5.37377 4.99831 5.05091 5.13173 4.75252C5.26514 4.45413 5.45912 4.18673 5.70137 3.96729C5.92775 3.75303 6.21781 3.61841 6.52759 3.58382C6.83736 3.54923 7.14997 3.61657 7.41804 3.77562C7.70724 3.9182 7.96948 4.10994 8.19304 4.34229C8.87637 5.07562 8.6597 6.29229 9.8597 5.67562C9.94081 5.63545 10.0164 5.58504 10.0847 5.52562C10.2898 5.42058 10.5013 5.32873 10.718 5.25062C10.786 5.22122 10.8397 5.16639 10.8678 5.09786C10.8958 5.02934 10.8959 4.95256 10.868 4.88396C10.5853 4.1061 10.1863 3.37559 9.6847 2.71729C9.31934 2.29728 8.88542 1.94225 8.40137 1.66729C7.83476 1.30514 7.18446 1.09497 6.51307 1.05702C5.84169 1.01908 5.17184 1.15463 4.56804 1.45062C3.97646 1.7642 3.46916 2.21572 3.0891 2.76695C2.70905 3.31817 2.46742 3.95287 2.3847 4.61729C2.29103 5.65924 2.43933 6.70875 2.81804 7.68396C3.4566 9.14984 4.22055 10.5579 5.10137 11.8923ZM3.3347 4.74229C3.39742 4.2242 3.5809 3.72808 3.87038 3.29385C4.15986 2.85963 4.54725 2.49944 5.00137 2.24229C5.47076 1.9961 5.99445 1.87167 6.52441 1.8804C7.05438 1.88914 7.57368 2.03076 8.0347 2.29229C8.58475 2.57209 9.06578 2.97057 9.44304 3.45896C9.716 3.83897 9.95313 4.24348 10.1514 4.66729C10.0097 4.66729 9.86804 4.71729 9.71804 4.75896L9.49304 4.83396L9.29304 4.94229C9.14694 4.57344 8.95666 4.22367 8.72637 3.90062C8.46691 3.59224 8.15694 3.33018 7.8097 3.12562C7.41182 2.84898 6.93347 2.71202 6.44947 2.73614C5.96546 2.76026 5.5031 2.94412 5.1347 3.25896C4.77368 3.55601 4.48213 3.92856 4.28057 4.3504C4.07901 4.77224 3.97233 5.23312 3.96804 5.70062C3.9972 6.52689 4.20472 7.33708 4.57637 8.07562C5.0585 9.00197 5.65481 9.86424 6.35137 10.6423L5.9347 10.7923C5.80065 10.8392 5.66981 10.8949 5.54304 10.959C5.46303 11.0106 5.38774 11.0691 5.31804 11.134C4.58053 9.9802 3.98722 8.7404 3.55137 7.44229C3.2683 6.57176 3.19407 5.64682 3.3347 4.74229Z' fill='%23BBBDBE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7893_84325'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
      .ab-text {
      }
    }
    & > .ab-sub-wrapper {
      & > ul.ab-submenu {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    .ab-sub-wrapper {
      background-color: #393f4c;
      // max-height: 406px;
      // overflow-y: scroll;
      .wp-admin-bar-arrow {
        &::before {
          display: none;
        }
      }
      .ab-sub-wrapper {
        display: block;
        position: relative;
        left: 0;
        margin-top: 0 !important;
        margin-left: 0 !important;
      }
    }
    /*
    ul#wp-admin-bar-ultimate-security-for-woocommerce-switch-to-country-default {
        li.wp-admin-bar-ultimate-security-for-woocommerce-form-in-admin-bar {}
        li.wp-admin-bar-ultimate-security-for-woocommerce-recent-countries-title
    }
    */
    ul {
      li {
        .ab-item {
          height: auto !important;
          width: 261px;
          box-sizing: border-box;
          form.search-user {
            width: 100%;
            display: flex;
            gap: 10px;
            .input-wrap {
              position: relative;
              flex: 1;
              .search-country-input {
                background-color: #f1f7ff;
                border-radius: 4px;
                padding: 8px 10px;
                height: 32px;
                box-sizing: border-box;
                width: 100%;
              }
              .search-result {
                position: absolute;
                z-index: 9;
                width: 100%;
                background-color: #f1f7ff;
                box-shadow: -1px 6px 20px 0px #8fa8b71a;
                border-radius: 4px;
                overflow: hidden;
                margin-top: 5px;
                ul {
                  max-height: 130px;
                  overflow-y: scroll;
                  li {
                    height: auto;
                    a {
                      color: #757575;
                      display: block;
                      padding: 8px 10px;
                      box-sizing: border-box;
                      line-height: 1.2;
                      
                    }
                    &:hover {
                      a {
                        background-color: #0167ff;
                        color: #ffffff;
                      }
                    }
                  }
                  /* width */
                  &::-webkit-scrollbar {
                    width: 4px;
                  }

                  /* Track */
                  &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px #ffffff;
                    border-radius: 10px;
                  }

                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    background: #929292;
                    border-radius: 10px;
                  }

                  /* Handle on hover */
                  &::-webkit-scrollbar-thumb:hover {
                    background: #929292;
                  }
                }
              }
            }
            .search-user-btn {
              background-color: #0167ff;
              color: #ffffff;
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              padding: 8px 10px;
              border-radius: 4px;
              flex: 0 0 63px;
              width: 63px;
              border-style: none;
            }
          }

          .title-part {
            display: inline-block;
            width: auto;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #ffffff;
            border-bottom: 1px solid #f2f2f2;
          }
          
        }
        &#wp-admin-bar-ultimate-security-for-woocommerce-form-in-admin-bar {
          z-index: 999999;
          .search-result {
            ul {
                li {
                    a {
                        color: #757575;
                        display: flex;                        
                        padding: 3px 10px;
                        box-sizing: border-box;
                        gap: 5px;
                        align-items: center;
                        img {
                            width: 25px;
                            height: auto;
                            flex: 0 0 25px;
                        }
                        span {
                            flex: 1;
                        }
                    }
                    &:hover {
                        a {
                            background-color: #588157;
                            color: #ffffff;
                        }
                    }
                }
            }
          }
          & > .ab-item {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
        &#wp-admin-bar-ultimate-security-for-woocommerce-recent-countries-title {
            ul {
                padding-top: 0;
                li.switch-country-li {
                    
                    a {
                        color: #757575;
                        span {
                            display: flex;                        
                            padding: 3px 10px;
                            box-sizing: border-box;
                            gap: 5px;
                            align-items: center;
                            img {
                                width: 25px;
                                height: auto;
                                flex: 0 0 25px;
                            }
                            span {
                                flex: 1;
                            }
                        }
                    }
                    &:hover {
                        a {
                            background-color: #588157;
                            color: #ffffff;
                        }
                    }
                }
            }
          & > .ab-item {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
.ultimate-security-for-woocommerce-switch-notice {
    position: relative;
    .wrapper {
      display: flex;
      padding: 12px;
      align-items: center;
      gap: 16px;
      .part-img {
        flex: 0 0 100px;
      }
      .part-text {
        flex: 1;
        h4 {
          color: #0C0C0C;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          margin-top: 0;
          margin-bottom: 6px;
        }
        p {
          color: #0C0C0C;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          margin-top: 0;
          margin-bottom: 10px;
        }
        .button-group {
          display: flex;
          align-items: center;
          gap: 16px;
          .button {
            border-style: none;
          }
          .button-primary {
            background-color: #588157;
            color: #FFFFFF;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            padding: 3px 10px;
            border-radius: 4px;
          }
          .button-secondary {
            padding: 0;
            background-color: transparent;
            text-decoration: underline;
            color: #588157;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;   
            display: flex;
            align-items: center;
            gap: 6px;
            &::after {
              content: '';
              width: 20px;
              height: 7px;
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              background-image: url('data:image/svg+xml,<svg fill="none" viewBox="0 0 20 7" xmlns="http://www.w3.org/2000/svg"><path d="m20.002 3.5-5-2.8868v5.7735l5-2.8868zm-20 0.5h15.5v-1h-15.5v1z" fill="%23588157"/></svg>');
            }        
          }
        }
      }
    }
  }